<div class="container">
  <h1>Mister cocktails</h1>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col 4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/cockail1.jpeg)">
          <p><%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
      </div>
      </div>
         <% end %>
  </div>

  <%= link_to '<i class="fas fa-plus"> Create your Cocktail</i>'.html_safe, new_cocktail_path %>

